@using System.Globalization
<div class=@($"{Orientation.ToString().ToLower(CultureInfo.CurrentCulture)}")>
    <div class="@ClassNameArea1" style="@StyleArea1">
        @SplitArea1
    </div>
    <div class="@ClassNameArea2" style="@StyleArea2">
        @SplitArea2
    </div>
</div>